body {
    padding: 0;
}

a,
a:visited {
    color: #EB7106;
}

a:hover {
    color: #EB7106 !important;
    background-color: #1A171B;
    text-decoration: none;
}

p {
    font-size: 1.5em;
}

/*
 * Header
 */
.main-header {
    background-color: #E85D10;
    background-image: -webkit-linear-gradient(left, #E85D10 50%, #EB7106 50%);
    background-image: linear-gradient(90deg, #E85D10 50%, #EB7106 50%);
    background-size: 68px 100%;
    text-align: center;
    padding-bottom: 3em;
}

/*
 * Logo
 */
.logo {
    text-transform: uppercase;
    color: #FFF;
    padding: 0 0 1em 0;
}

.logo span {
    font-size: .5em;
    line-height: 1.5em;
    display: inline-block;
    margin: 1em 0 2em;
    padding: 0 .75em;
    background-color: #1A171B;
    position: relative;
    color: #FAB800;
    letter-spacing: .05em;
    font-weight: 100;
}

.logo span:before,
.logo span:after {
    content: ' ';
    position: absolute;
    top: .2em;
    border: .74em solid #1A171B;
}

.logo span:before {
    left: -1em;
    border-left-color: transparent;
}

.logo span:after {
    right: -1em;
    border-right-color: transparent;
}

.logo strong {
    font-size: 1.6em;
    display: block;
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.1em;
}

/*
 * Shared
 */
.layout {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
}

.recipe-ribbon {
    text-align: center;
    display: inline-block;
    color: #FFF;
    font-size: 2.188em;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background: #1A171B url('../assets/the-recipe-text.png') center center no-repeat;
    text-indent: -10000px;
    position: relative;
    left: 50%;
    margin: 0 0 0 -65px;
}

.summary,
#follow-cool-people,
#find-the-best-sources,
#attend-conferences,
#get-your-own-sources {
    position: relative;
    margin-top: -15px;
    padding-top: 3em;
    border: 0;
    border-top: 22px solid transparent;
    -o-border-image: url('../assets/border-wave.png') 25 0 repeat;
    border-image: url('../assets/border-wave.png') 25 0 repeat;
}

#follow-cool-people h3:before,
#find-the-best-sources h3:before,
#attend-conferences h3:before,
#get-your-own-sources h3:before {
    position: absolute;
    background-color: #1A171B;
    color: #fab800;
    width: 127px;
    height: 127px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    line-height: 120px;
    border-radius: 100%;
}

.box-follow {
    border-radius: .5em .2em .5em .2em;
    display: inline-block;
    margin: 2em 2.5% 1em 2.5%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    vertical-align: top;
    min-height: 7em;
    padding: 0 0 0 115px;
    border: solid 3px #1A171B;
    background-color: #fff;
    box-shadow: 3px 3px 0px #fab800 inset, 3px 3px 0px #fff;
}

.box-follow-small {
    width: 28%;
}

.box-follow-medium {
    width: 40%;
}

.box-follow-medium p {
    width: auto;
    font-size: 1.1em;
    line-height: 1.5em;
}

.box-follow-title {
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 400;
    letter-spacing: .08em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-follow-avatar[src=""] {
    background: transparent url('../assets/no-image.png') center center no-repeat;
}

.box-follow-avatar {
    display: block;
    position: absolute;
    top: -25px;
    left: 15px;
    border: solid 3px #1A171B;
    border-radius: .2em .7em .2em .5em;
    box-shadow: 3px 2px 0px #fff;
    padding: 3px 0 0 3px;
    background-color: #fff;
}

.box-follow-footer {
    position: absolute;
    background-color: #1A171B;
    bottom: -6px;
    right: -6px;
    left: 3px;
    padding: 0 .5em 0 8%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 .5em .2em;
    color: #fff;
}

/*
 * Summary
 */
.summary .recipe-ribbon {
    top: -3.2em;
}

.summary:before {
    content: ' ';
    position: absolute;
    top: -55px;
    width: 600px;
    height: 548px;
    background: url('../assets/chef.png') center top no-repeat;
    left: 50%;
    margin-left: -280px;
}

.summary .layout {
    margin-top: 350px;
}

/*
 * Navigation
 */
.navigation {
    background-image: -webkit-linear-gradient(#FFF 1em, #FAB800 1em, #FAB800 3em, #009798 0);
    background-image: linear-gradient(#FFF 1em, #FAB800 1em, #FAB800 3em, #009798 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 1.9em;
    position: relative;
    min-height: 11em;
}

.navigation h2 {
    line-height: 2em;
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    padding-top: 1em;
}

.navigation .layout {
    background: url('../assets/kitchen.png') right top no-repeat;
    height: 400px;
}

.navigation ol {
    font-size: 16px;
    box-sizing: border-box;
    counter-reset: section;
}

.navigation li {
    margin: .5em 0;
    font-size: 1.5em;
    margin: 1.3em 0 0 50px;
    list-style: none;
    letter-spacing: .06em;
    font-weight: 100;
}

.navigation li a:before {
    counter-increment:section;
    content: counter(section) ' ';
}

.navigation ol,
.navigation a {
    color: #FFF;
}

.navigation a {
    padding: 5px 10px;
}

/*
 * Follow cool people
 */
#follow-cool-people .layout {
    background-image: url('../assets/follow-arrow.png'),  url('../assets/follow.png');
    background-position: left top, right 80px;
    background-repeat: no-repeat;
}

#follow-cool-people h3 {
    width: 320px;
    margin-left: 170px;
    padding-top: 60px;
}

#follow-cool-people h3:before {
    content: '1';
    top: 130px;
    left: 13px;
    color: #fff;
}

#follow-cool-people p {
    width: 50%;
    padding: 0;
    margin-left: 7em;
}

.who-to-follow,
.best-sources-found,
.conferences {
    text-align: center;
    padding: 0 8% 5em;
}

.who-to-follow {
    background-color: #fab800;
}

.follow-to a {
    padding-left: 0;
}

.skill {
    font-weight: normal;
    font-size: .9em;
}

.skill:before {
    content: ' / ';
    font-weight: 200;
    color: #fff;
}

.skill:first-child:before {
    content: '';
}

.skill-css {
    color: #eb7106;
}

.skill-wpo {
    color: #fff;
}

.skill-mobile {
    color: #009797;
}

.skill-js {
    color: #f9b800;
}

.skill-html {
    color: #aaa;
}

/*
 * Find the best sources
 */
#find-the-best-sources .layout {
    background: url('../assets/find-sources.png') top right no-repeat;
}

#find-the-best-sources h3 {
    width: 6em;
}

#find-the-best-sources h3:before {
    content: '2';
    top: .1em;
    right: 250px;
}

#find-the-best-sources .layout > p {
    width: 50%;
}

.source-type {
    position: relative;
    background: url('../assets/find-sources-misc.png') center top no-repeat, url('../assets/generic-triangle.png') center top no-repeat;
    padding-top: 60px;
}

.source-type-title {
    width: 22%;
    height: 40px;
    background-color: #1A171B;
    margin: 0 auto;
    position: relative;
    top: -38px;
    color: white;
    text-align: center;
    letter-spacing: .2em;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 40px;
    min-width: 300px;
    margin-bottom: 1em;
}

.source-type:nth-child(2) {
    background-color: #009798;
}

.source-type:nth-child(3) {
    background-color: #eb7108;
}

.source-type:nth-child(4) {
    background-color: #fab800;
}

.source-type:nth-child(5) {
    background-color: #009798;
}

.source-type .source-type-title:before,
.source-type .source-type-title:after {
    content: ' ';
    position: absolute;
    top: 0;
    border: 20px solid #1A171B;
}

.source-type .source-type-title:before {
    left: -20px;
    border-left-color: transparent;
}

.source-type .source-type-title:after {
    right: -20px;
    border-right-color: transparent;
}

.source-type:nth-child(3) .best-source-found,
.source-type:nth-child(4) .best-source-found,
.source-type:nth-child(5) .best-source-found {
    width: 40%;
}

/*
 * Attend conferences
 */
#attend-conferences > .layout {
    background: url('../assets/attend.png') center 0 no-repeat;
}

#attend-conferences h3 {
    width: auto;
    margin: 0 0 .5em auto;
    padding-top: 107px;
    position: relative;
    width: 52.083%;
}

#attend-conferences h3:before {
    content: '3';
    top: 204px;
    left: -175px;
}

#attend-conferences .layout > p {
    margin: 0 2.083% 0 auto;
    line-height: 1.5em;
    width: 50%;
}

.conferences {
    background: #FAB800;
    margin-top: 20px;
}


/*
 * Get your own sources
 */
#get-your-own-sources {
    padding-top: 3em;
}

#get-your-own-sources .layout:first-child {
    background: url('../assets/own-sources.png') right top no-repeat;
    min-height: 470px;
    padding-top: 60px;
}

#get-your-own-sources h3 {
    width: 325px;
}

#get-your-own-sources h3:before {
    content: '4';
    top: 110px;
    left: 50%;
    margin-left: -60px;
}

#get-your-own-sources p {
     width: 40%;
}

.box-mention {
    padding-left: 75px;
    width: 100%;
    margin: 15px 0;
    box-shadow: 3px 3px 0px #FFF inset, 3px 3px 0px #FFF;
    padding-bottom: 1em;
    background-color: transparent;
}

.box-mention blockquote {
    margin: 15px 0 50px 20px;
    width: 62%;
}

.box-mention blockquote:before {
    content: '“';
    font-family: Georgia;
    font-size: 10em;
    position: absolute;
    left: 15px;
    top: 35px;
    color: #EB7106;
}

#get-your-own-sources blockquote p {
    font-size: 1em;
    width: auto;
}

.box-mention .box-mention-author {
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    width: 135px;
    background-color: #EB7106;
}

.box-mention:nth-child(odd) blockquote:before {
    color: #009798;
}

.box-mention:nth-child(odd) .box-mention-author {
    background-color: #009798;
}

.box-mention .box-follow-title {
    position: absolute;
    bottom: 15px;
    right: 150px;
}

.box-mention .box-follow-avatar {
    top: auto;
    left: auto;
    right: 25px;
    bottom: 20px;
}

.main-footer {
    background: #009798 url('../assets/footer-triangle.png') center -2px no-repeat;
    padding-bottom: 5em;
    margin: 5em 0;
    border: 0;
    border-bottom: 22px solid #009798;
    -o-border-image: url('../assets/border-wave-footer.png') 25 0 repeat;
    border-image: url('../assets/border-wave-footer.png') 25 0 repeat;
}

.main-footer .recipe-ribbon {
    top: -30px;
}

/*body {
    background: green;
}

@media all and (min-width: 34em) {
    body {
        background: red;
    }
}

@media all and (min-width: 54em) {
    body {
        background: blue;
    }
}*/