/*
 * Anchors
 */
a,
a:visited {
    color: #EB7106;
    text-decoration: none;
}

a:hover {
    color: #EB7106 !important;
    background-color: #1A171B;
    text-decoration: none;
}

a img {
    border: none;
}

/*
 * Paragraphs & Lists
 */
p, ol, ul {
    line-height: 1.5em;
    font-weight: 200;
}

/*
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.313em 0; /* 10px */
    line-height: 1em;
}

h1 {
    font-size: 2.875em; /* 46px */
}

h2 {
    font-size: 2.188em; /* 35px */
}

h3 {
    font-size: 3.750em; /* 60px */
    text-transform: uppercase;
}

h3 span{
    font-weight: 200;
}

h4 {
    font-size: 1.313em; /* 21px */
}

h5 {
    font-size: 1.125em; /* 18px */
}

h6 {
    font-size: 1em; /* 16px */
}