footer.main-footer
    span.recipe-ribbon A Receita
    div.layout
      div.left-footer 
        p Quer indicar mais alguma referência bacana de conteúdo ou achou algum erro?&nbsp;
          | Simples, só abrir um&nbsp;
          a(href='https://github.com/oswaldoacauan/keep-up-to-date-brazuca/pulls') pull request
          |.
      div.right-footer 
        p Confira também o&nbsp;
          a(href='http://uptodate.frontendrescue.org/pt/') projeto original
          | &nbsp;com referências de conteúdo internacionais.
        p
          | Quem está por trás desta brincadeira?&nbsp;
          a(href='https://twitter.com/oswaldoacauan') @oswaldoacauan