- var title = contents['title.md'].metadata;
- var path = 'src';

doctype html
html(lang='pt-br')
    include head

    body
        include header
        include summary
        include navigation
        include cool-people
        include best-sources
        include attend-conferences
        include your-own-sources
        include footer
        include social-plugins
        include scripts
//- include who-we-are
//- include thank-you