- var languages = locals.languages;
- var currentLang = locals.lang;

nav.languages
    strong(class="language-active #{currentLang}")= languages[currentLang]
    ul.languages-list
        each lang, key in languages
            li
                a(href="https://uptodate.frontendrescue.org/" + (key=== 'en' ? '' : key + '/'), title=lang, class=key)= lang