nav.languages
    ul
        li
            a#en(href='http://uptodate.frontendrescue.org/', title='English') English
        li
            a#es(href='http://uptodate.frontendrescue.org/es', title='Español') Español
        li
            a#pt(href='http://uptodate.frontendrescue.org/pt', title='Português') Português
        li
            a#de(href='http://uptodate.frontendrescue.org/de', title='Deutsch') Deutsch