script(type='text/javascript').
    !function(a){"use strict";function b(b){b=b||a.document.querySelectorAll("[data-async]");var e,f,c=0,d=b.length;for(c;d>c;c+=1)f=b[c],e="LINK"!==f.tagName?"src":"href",f[e]=f.getAttribute("data-async"),f.removeAttribute("data-async");return b}"function"==typeof a.define&&void 0!==a.define.amd?a.define("asyncall",[],function(){return b}):"undefined"!=typeof module&&void 0!==module.exports?module.exports=b:a.asyncall=b}(this);
    window.onload = function () {
        asyncall();

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42669854-1', 'oswaldoacauan.github.io');
        ga('send', 'pageview');

        window.___gcfg = {
        lang: 'pt-BR'
        };

        (function(d) {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = 'https://assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
        })(document);
    };