script.
    if (navigator.serviceWorker) {
      navigator.serviceWorker
        .register('#{swPath}/sw.js', { scope: '/' })
        .then(function(registration) {
          var isUpdate = false;
          if (registration.active) { isUpdate = true; }
          registration.onupdatefound = function(eve) {
            console.log('A new Service Worker version has been found...');
          };
          registration.installing.onstatechange = function(eve) {
            if (this.state === 'installed') {
              console.log('Service Worker Installed.');
              if (isUpdate) {
                console.log('App updated. Restart for the new version.');
              } else {
                console.log('App ready for offline use.');
              }
            } else {
              console.log('New Service Worker state: ', this.state);
            }
          };
          console.log('Registration succeeded. Scope is: ' + registration.scope);
        }).catch(function(error) {
          console.log('Registration failed with: ' + error);
        });
    };
    !function(a){"use strict";function b(b){b=b||a.document.querySelectorAll("[data-async]");var e,f,c=0,d=b.length;for(c;d>c;c+=1)f=b[c],e="LINK"!==f.tagName?"src":"href",f[e]=f.getAttribute("data-async"),f.removeAttribute("data-async");return b}"function"==typeof a.define&&void 0!==a.define.amd?a.define("asyncall",[],function(){return b}):"undefined"!=typeof module&&void 0!==module.exports?module.exports=b:a.asyncall=b}(this);
    window.onload = function () {
        asyncall();

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-VP2Q47XV79', {
          storage: 'none',
          anonymize_ip: true,
          allow_google_signals: false,
          allow_ad_personalization_signals: false,
        });
        var s = document.createElement('script');
        s.src = 'https://www.googletagmanager.com/gtag/js?id=G-VP2Q47XV79';
        s.async = 1;
        var m = document.getElementsByTagName('script')[0];
        m.parentNode.insertBefore(s,m);

        window.___gcfg = {
        lang: 'en-US'
        };

        (function(d) {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = 'https://assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
        })(document);
    };
