.social-plugins
    span#pin
        a(href='https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fuptodate.frontendrescue.org%2F&media=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F3cfd1189e34f0057817814edd47dd292%3Fs%3D420%26d%3Dhttps%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%252Fimages%252Fgravatars%252Fgravatar-org-420.png&description=How%20to%20keep%20up%20to%20date%20on%20Front-End%20Technologies%20-%20The%20Recipe', data-pin-do='buttonPin', data-pin-config='beside')
            img(data-async='https://assets.pinterest.com/images/pidgets/pin_it_button.png')
    iframe(data-async='https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fuptodate.frontendrescue.org&send=false&layout=button_count&width=95&show_faces=false&font=trebuchet+ms&colorscheme=light&action=like&height=21&appId=311038305676190', scrolling='no', frameborder='0', width='95', height='22', style='border: none; overflow: hidden;', allowtransparency='true')
    iframe#twitter(allowtransparency='true', frameborder='0', width='100', height='22', scrolling='no', data-async='https://platform.twitter.com/widgets/tweet_button.html?text=How%20to%20keep%20up%20to%20date%20on%20Front-End%20Technologies%20-%20The%20Recipe&url=http%3A%2F%2Fuptodate.frontendrescue.org&via=frontendrescue')
    <g:plusone></g:plusone>
    a(href='https://github.com/frontend-rescue/keep-up-to-date')
        img(style='position: absolute; top: 0; left: 0; border: 0;', data-async='https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png', width='149', height='149', alt='Fork me on GitHub')