- var title = contents['thanks.md'].title;

section.thank-you
    h4.source-type-title #{title}
    ul.best-sources-found
        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='https://twitter.com/cavemandg') Fer Adorneti
            a(href='https://twitter.com/cavemandg')
                img.box-follow-avatar(width='80', height='80', data-async='https://pbs.twimg.com/profile_images/378800000744607898/89cb0ebd532a6a309ba2277ea3a8233a_200x200.jpeg', alt='Fer Adorneti')
            a(href='https://twitter.com/cavemandg') @cavemandg

        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://taly.me/') Nati Devalle
            a(href='http://taly.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://pbs.twimg.com/profile_images/378800000662672234/fb44b1d23dff075cb2f2e0e541908e61_200x200.jpeg', alt='Nati Devalle')
            a(href='https://twitter.com/taly') @taly