- var title = contents[locals.lang]['thanks.md'].title;

section.thank-you
    h4.source-type-title #{title}
    ul.best-sources-found
        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='https://twitter.com/cavemandg') Fer Adorneti
            a(href='https://twitter.com/cavemandg')
                img.box-follow-avatar(width='80', height='80', data-async='https://si0.twimg.com/profile_images/2909484232/00139f7ce194f15511ccef93f779f77e_bigger.jpeg', alt='Fer Adorneti')
            a(href='https://twitter.com/cavemandg') @cavemandg

        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://taly.me/') Nati Devalle
            a(href='http://taly.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://si0.twimg.com/profile_images/1664779540/taly_bigger.jpg', alt='Nati Devalle')
            a(href='https://twitter.com/taly') @taly