- var title = contents[locals.lang]['team.md'].title;

section.who-we-are
    h4.source-type-title #{title}
    ul.best-sources-found
        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://pazguille.me/') Guille Paz
            a(href='http://pazguille.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://si0.twimg.com/profile_images/2988420099/2ec103f6c75a7894ba2c4ad53958f59a_bigger.jpeg', alt='Guille Paz')
            a(href='https://twitter.com/pazguille') @pazguille

        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://mammana.me/') Her Mammana
            a(href='http://mammana.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://si0.twimg.com/profile_images/3578079551/f3ffbaf1ca7b8359469c3f07c5145d2a_bigger.jpeg', alt='Her Mammana')
            a(href='https://twitter.com/hmammana') @hmammana

        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://leanlinares.me/') Lean Linares
            a(href='http://leanlinares.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://si0.twimg.com/profile_images/2630663265/763861339aca2a708e5d7e158ecfd480_bigger.png', alt='Lean Linares')
            a(href='https://twitter.com/lean8086') @lean8086