- var title = contents['team.md'].title;

section.who-we-are
    h4.source-type-title #{title}
    ul.best-sources-found
        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://pazguille.me/') Guille Paz
            a(href='http://pazguille.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://pbs.twimg.com/profile_images/477880442952359936/vwoBZOLn_200x200.jpeg', alt='Guille Paz')
            a(href='https://twitter.com/pazguille') @pazguille

        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://mammana.me/') Her Mammana
            a(href='http://mammana.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://pbs.twimg.com/profile_images/532911616342634496/kYNs12Jp_200x200.jpeg', alt='Her Mammana')
            a(href='https://twitter.com/hmammana') @hmammana

        li.box-follow.box-follow-small
            h4.box-follow-title
                a(href='http://leanlinares.me/') Lean Linares
            a(href='http://leanlinares.me/')
                img.box-follow-avatar(width='80', height='80', data-async='https://pbs.twimg.com/profile_images/546011298627334146/MAeF2-yK_200x200.jpeg', alt='Lean Linares')
            a(href='https://twitter.com/lean8086') @lean8086